* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.full-container {
  width: 80%;
  height: 80%;
  padding: 1.0rem;
  margin: 0 auto;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
  text-align: center;
  background-color: #b9b9b9;
  scrollbar-width: none;
}

.full-container ul {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    max-height: 80%;
    overflow-y: auto;
    padding-left: 0.5rem;
    white-space: nowrap;
    line-height: 1.6rem;
    scrollbar-width: none;
}


/* Styling the input and button */
input {
  width: 30%;
  padding: 0.875rem;
  font-size: 1rem;
  text-align: center;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

input:focus {
    box-shadow: 5.5px 7px 0 black;
}

input:focus::placeholder {
    color: transparent;
}

@media (max-width: 480px) {
  body {
    height: auto; /* Let body height adjust naturally */
    padding: 1rem;
  }
  
  input {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .full-container {
    width: 90%;
    height: auto;
    max-height: 80%;
    box-sizing: border-box;
  }
  
  .full-container ul {
    scrollbar-width: none;
    max-height: 350px; /* reduce height on smaller screens */
  }
}